.header{
    height: 70px;
    background-color: #000000;
    padding:0px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}